<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="padding-bottom: 5px !important">
                    <div >
                        <h5 class="pb-2">اضافة ملف للحصة</h5>

                       <span> يرجى ملئ جميع الخانات </span>
                    </div>
                    <ng-template >
                        
                    </ng-template>
                </div>
                <div class="card-body">
                    <form class="needs-validation" autocomplete="off" 
                    [formGroup] = "coursecontentpdf"
                    (ngSubmit)="onSubmit()" 
                    novalidate>
                        <div class="form-row">
                        <!-- to insert image for the student  -->
              <div class="col-lg-6 my-4" style="padding: 1%;">
                <img  src="{{ Logopdf }}" style="width: 60%; height: 220px;" class="image-style p-2" *ngIf="Logopdf != null"/>
               <input type="file" accept="image/*" #file id="getLogo" formControlName="pdf"
                style="display: none" (change)="getLogoUrl($event)" />
            <button type="button" onclick="document.getElementById('getLogo').click()"
                class="btn  d-block"  style="width: 60%;">
                    ارفاق PDF للمحتوى   
            </button>    
                        </div>
                        </div>

                        <br>
                        <ng-template #elseBlock>
                            <button [disabled]="button" class="btn pull-right" type="submit">
                               حفظ
                            </button>
                            </ng-template>
                        <div *ngIf="update; else elseBlock">
                            <button class="btn pull-right" type="submit">
                                تعديل
                            </button>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



